footer{
    background-color: black;
    color: white;
    .newsletter {
        padding: 2rem 1rem;
        font-size: 2rem;

        .form-groups {
            font-size: 1.25rem;
            display: flex;
            margin-top: 1rem;

            .form-control {
                width: 70%;
                margin-right: .5rem;
                border-radius: 2rem;
                background-color: transparent;
                border: 2px solid $primary;
                color: white;
                padding: .5rem 2rem;
                font-style: italic;
                font-size: 1.25rem;
            }
            
            .button {
                font-weight: bold;
                font-style: italic;
            }
        }

        @include breakpoint(untilTablet) {
            font-size: 1.5rem;

            .form-groups {
                .form-control {
                    padding: .5rem 1rem;
                }
                .form-control, .button {
                    font-size: 1rem;
                }
            }
        }
    }

    .footer-bottom {
        background-image: url('/images/footer-bg.png');
        background-position: top;
        background-size: cover;
        position: relative;
        padding: 1rem 0;

        .footer-image {
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: end;
            img {
                width: 85%;
            }
        }

        @include breakpoint(untilTablet) {
            .footer-content .item {
                margin-bottom: 1.5rem;
            }
            .item {
                img {
                    width: 50% !important;
                }
            }
            .footer-image {
                position: relative;
                margin-top: 1.5rem;
            }
        }
    }
}