.body-top {
    background-image: url('/images/bg-hero.png');
    background-size: cover;
    padding-bottom: 2rem;

    .hero {
        margin-bottom: 1rem;
        .slick-list {
            overflow: visible;
          }
        .hero-slide {
            height:  480px;
        }

        .bg-hero {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hero-slide {
            position: relative;
        }

        .hero-right {
            position: relative;
            color: white;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            &:before {
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.6);
            }

            h1 {
                font-weight: bold;
                font-size: 4rem;
            }

            .partner {
                background-color: rgba($color: white, $alpha: 0.4);
                width: max-content;
                padding: 0 2rem;
                border-radius: 2rem;
                font-size: 1.5rem;
                font-weight: lighter;
                margin-bottom: .5rem;
            }

            h5 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            .button {
                width: max-content;
            }

            
        }

        @include breakpoint(untilTablet) {
            margin-bottom: 2rem;
            .hero-right {
                padding: 3rem 1rem;
                padding-left: 1rem;

                h1 {
                    font-size: 2.5rem;
                }

                .partner, h5 {
                    font-size: 1rem;
                }
            }
         }
    }

    .videos {
        margin-bottom: 2rem;
        .btn-wrapper {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
        }

        @include breakpoint(untilTablet) {
            .video-item {
                margin-bottom: 1rem;
            }
        }
    }

    .brands {
        color: white;
        .container {
            background-image: url('/images/brands-bg.png');
            background-position: center;
            background-size: cover;
            padding: .5rem 2rem;
            border-radius: 1rem;
        }

        .slider {
            width: 80%;
            margin: auto;

            .ratio {
                width: 75%;
            }

            .image-wrapper {
                width: 90%;
                height: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .25rem;
                border-radius: 50%;
                background-color: white;
                box-shadow: inset 0 0 4px 4px rgba($color: white, $alpha: 0.4), 0 0 4px 4px rgba($color: #000000, $alpha: 0.2);

                img {
                    width: 90%;
                }
            }
        }

        .slick-slide {
            display: flex;
            justify-content: center;
        }

        .slick-arrow {
            width: 24px;
            height: 24px;
            background-color: white;
            border-radius: 50%;
            margin-top: -6px;
        }

        .slick-arrow::before{
            color: black;
            font-size: 30px;
            opacity: 1;
            margin-left: -3px;
        }
    }
}

.body-mid {
    background-image: url('/images/bg-body.png');
    background-position: top;
    background-size: cover;
    padding: 2rem 0;
}

.body-bottom {
    background-image: url('/images/bg-hero.png');
    padding-top: 1rem;
    border-bottom: 8px solid $primary;

    .choose-items {
        padding: 1rem 0;
        background-image: url('/images/bg-choose.png');
        background-size: cover;
        background-position: center;
        .items {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 5;
            @include breakpoint(untilTablet) {
                overflow-x: auto;
                justify-content: start;
            }

            .item {
                padding: 0 2rem;
            }
        }
    }
}