.body-top {
    background-image: url('/images/bg-hero.png');
    padding-bottom: 2rem;

    .hero {
        margin-bottom: 1rem;

        .hero-left {
            padding: 0;
        }

        .hero-right {
            background-image: url('/images/hero-2.png');
            background-position: top;
            background-size: cover;
            position: relative;
            color: white;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            padding-left: 3rem;
            &:before {
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.6);
            }

            h1 {
                font-weight: bold;
                font-size: 4rem;
            }

            .partner {
                background-color: rgba($color: white, $alpha: 0.4);
                width: max-content;
                padding: 0 2rem;
                border-radius: 2rem;
                font-size: 1.5rem;
                font-weight: lighter;
                margin-bottom: .5rem;
            }

            h5 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            .button {
                width: max-content;
            }
        }
    }

    .videos {
        margin-bottom: 2rem;
        .btn-wrapper {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
        }
    }

    .brands {
        color: white;
        .container {
            background-image: url('/images/brands-bg.png');
            background-position: center;
            background-size: cover;
            padding: 2rem;
            border-radius: 1rem;
        }
    }
}

.body-mid {
    background-image: url('/images/bg-body.png');
    background-position: top;
    background-size: cover;
    padding: 2rem 0;
}

.body-bottom {
    background-color: black;
    padding-top: 1rem;
    border-bottom: 8px solid $primary;

    .choose-items {
        padding: 1rem 0;
        background-image: url('/images/bg-choose.png');
        background-size: cover;
        background-position: center;
        .items {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 5;

            .item {
                padding: 0 2rem;
            }
        }
    }
}