nav {
    .nav-top {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        color: white;

        > div {
            padding: 0 2rem;
        }

        > div:first-child {
            padding-left: 0;
        }

        .hamburger {
            display: none;
        }

        @include breakpoint(untilTablet) {
            justify-content: space-between;
            
            .hamburger {
                font-size: 2rem;
                display: block;
            }
        }
    }

    .navigation {
        background-color: $primary;
        color: white;
        margin-bottom: 1rem;

        @include breakpoint(untilTablet) {
            display: none;
        }

        .col-12 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .kategori {
                min-width: 30%;
                cursor: pointer;
                display: flex;
                align-items: center;
                height: 100%;

                .dropdown > .dropdown-menu {
                    transform: translate(0, 38px) !important;
                    min-width: 20rem;

                    .dropdown-menu {
                        min-width: 0;
                        .dropdown-item {
                            text-align: center;
                            padding: .5rem 1rem;
                            img {
                                height: 50px;
                            }
                        }
                    }
                }
            }

            .dropdown-menu {
                background-color: rgba($color: $primary, $alpha: 0.9);
                border-radius: 0;
                padding: 0;

                .dropdown-item {
                    font-weight: 500;
                    color: white;
                    padding: .75rem 1rem;

                    img {
                        width: 100%;
                        object-fit: contain;
                    }

                    &:hover, &:focus {
                        background-color: $primary
                    }
                }
            }

            ul.menu {
                display: flex;
                align-items: center;
                li.menu-item {
                    padding: .75rem 1.5rem;
                    border-left: 2px solid white;
                    // transform: skewX(-10deg);

                    span, .dropdown-toggle {
                        display: block;
                        // transform: skewX(10deg);
                    }

                    .dropdown-parent {
                        > .dropdown-menu.show {
                            transform: translate(-88px, 47px)!important;
                            display: flex;
                            flex-wrap: wrap;
                            min-width: 20rem;
                            background-color: rgba($color: black, $alpha: 0.9);
                            border-radius: 8px;
                            > li {
                                width: 33%;
                                text-align: center;
    
                                a {
                                    font-weight: 400;
                                    font-size: .85rem;
                                }
    
                                img {
                                    height: 50px;
                                    margin-bottom: .25rem;
                                }
    
                                .dropdown-menu {
                                    border-radius: 8px;

                                    &.show {
                                        display: block;
                                    }
                                    .dropdown-item {
                                        background-color: rgba($color: black, $alpha: 0.9);
                                        color: white;
                                        font-weight: 500;
                                        font-size: 1rem;

                                        &:hover, &:focus {
                                            background-color: $primary
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.active, &:hover {
                        background-color: black;
                    }
                }

                li.btn-wrapper {
                    padding: .5rem 1rem;
                    height: 100%;

                    &:hover {
                        background-color: $primary;
                    }

                    .button {
                        background: rgb(233,89,6);
                        background: linear-gradient(90deg, rgba(233,89,6,1) 0%, rgba(239,122,0,1) 51%, rgba(233,89,6,1) 100%);
                        box-shadow: 3px 3px 0 0 black;
                        padding: .25rem 1rem;
                    }
                }
            }
        }
    }
}


.marketplace {
    display: flex;
    align-items: center;
    img {
        width: 40px;
        margin-left: .5rem;
    }
}

.language {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    padding: 0 .5rem !important;
    width: 15%;

    .form-select {
        background-color: transparent;
        color: white;
        padding: 0;
        border: none;
        background-image: none;
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
        z-index: 4;

        option {
            color: black;
            font-size: 1.25rem;
        }

        &:focus {
            box-shadow: none;
            border: none;
        }
    }

    .icon {
        position: absolute;
        left: 1rem;
        z-index: 1;
    }

    .icon-select {
        font-size: 1rem;
        position: absolute;
        right: 1.5rem;
        color: $primary;
        z-index: 1;
    }
}

@include breakpoint(untilTablet) {
    .marketplace, .language {
        display: none;
    }

    .nav-logo {
        max-width: 50px;

        img {
            width: 100%;
        }
    }
    .search-bar {
        padding: 1rem;

        .icon-search {
            right: 3rem;
        }
    }
    justify-content: space-between;
    
    .hamburger {
        font-size: 2rem;
    }
}

.offcanvas {
    background-image: url('/images/bg-hero.png');
    color: white;

    .kategori-mobile {
        background-color: $primary;
        margin-left: -1rem;
        margin-right: -1rem;
        .collapse {
            border-top: 1px solid $primary;
            &.show {
                border-top: 1px solid rgba($color: white, $alpha: 0.5);
                transition: .2s all ease;
            }
        }
        ul {
            li {
                padding: 1rem;
            }
            .submenu {
                padding-left: 1rem;

                .item {
                    padding: 1rem;
                }

                .submenu2 {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        width: 32%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .offcanvas-logo {
        img {
            width: 60%;
        }
    }

    .btn-close {
        background-color: white;
        opacity: 1;
    }

    .search-bar {
        display: block;
        padding: 0;

        .icon-search {
            right: 1rem;
        }
    }

    .marketplace, .language {
        display: flex;
        margin-bottom: 1rem;
    }

    .search-bar {
        margin-bottom: 1rem;
    }

    .marketplace {
        padding: 0 1rem;
        margin-bottom: 0;
        i {
            margin-right: .5rem;
        }
    }

    .language {
        width: 100%;
        .icon {
            left: .5rem;
        }
        .icon-select {
            left: 5rem;
        }
    }

    .menu {
        background-color: $primary;
        margin-left: -1rem;
        margin-right: -1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        margin-top: -1px;
        ul {
            li {
                color: white;
                padding: 1rem 1rem;

                &.btn-wrapper {
                    height: 100%;

                    &:hover {
                        background-color: $primary;
                    }
                }

                .button {
                    background: rgb(233,89,6);
                    background: linear-gradient(90deg, rgba(233,89,6,1) 0%, rgba(239,122,0,1) 51%, rgba(233,89,6,1) 100%);
                    box-shadow: 3px 3px 0 0 black;
                    padding: .25rem 1rem;
                }
            }

            .collapse {
                border-top: 1px solid $primary;
                &.show {
                    border-top: 1px solid rgba($color: white, $alpha: 0.5);
                    transition: .2s all ease;
                }
            }

            .submenu {
                padding-left: 1rem;

                .item {
                    a {
                        display: flex;
                        align-items: center;
                        img {
                            height: 50px;
                            margin-right: .5rem;
                        }
                    }
                }
                .submenu2 {
                    padding-left: 1rem;
                }
            }

        }
    }
}