@import 'variables';
@import 'components';
@import 'global';
@import 'footer';
@import 'nav';
@import 'index';

html, body {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}